<div class="review-container">
    <div class="review-left-text">
        <div class="img-bar"></div>
        <h2 class="bartitle"> <%= bar.name %></h2>
        <div class="review-rating"></div>
          <button class="btn-add-review" >Add a review</button>
        
    </div>
  
    <div class="show-meters-container">
      <div class="explain-meters">Check what it is like at this bar <b>right now:</b> </div>
    <form>
        <div class="show-crowd"> 
            <p>Crowd</p>
            <input type="range" min="1" max="9" value="5" class="show-slider" disabled>
    
           <div class="show-labels-crowd"> 
                <span>Pretty quiet</span> <span>Room for more</span> <span>Full house</span>
            </div>
        </div> 
    
        <div class="show-hygiene"> 
          <p>Hygiene</p>
          <input type="range" min="1" max="9" value="5"  class="show-slider" disabled>
          <div class="show-labels-hygiene">
              <span>As clean as it gets</span> <span>Decent</span> <span>Everything's sticky </span>
            </div>
         </div> 
    
        <div class="show-atmosphere"> 
          <p>Atmosphere</p>
          <input type="range" min="1" max="9" value="5" class="show-slider" disabled>
          <div class="show-labels-atmo">
            <span>Dancing</span> <span>Chatting</span></div>
        </div> 
    
        <div class="show-safety"> 
          <p>Safety</p>
          <input type="range" min="1" max="9" value="5" class="show-slider" disabled>
         <div class="show-labels-safety"> 
           <span>I feel safe</span> <span>Creep alert</span></div>
        </div> 
       
    </form>
<!-- still needs to be improved below: -->
    <div class="show-about"> 
      <hr>
      <b>About this bar:</b>
      <br> <br>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex, aut quisquam itaque maxime nobis id dolor sit at inventore harum incidunt ipsa? Illo sequi amet fugit magnam rerum asperiores repellat.
    </div>
  
  </div>
  
  
    
    
  
   
  </div> 
  