<div class="create-profile-container">
    <h2>
        <%= user._id %> 
    </h2>
    <form action="/createprofile" method="POST" enctype="multipart/form-data">
		<input type='file' name='image' />
    <input type="text" name="username">
		<input type="submit" id="send-image-button">
	</form>
</div>