<div class="search-container mgtop-80px">
<div class="set-the-bar-search-bar">
  <div class="icon-loupe"></div>
  <form action="/bars/search" method="POST" id="search_bar">
  <input  type="text" placeholder="Search Location" class="search-input" name="userquery">
</form>
  <div class="icon-mic"></div>  
</div>
</div>
<div class="dashboard-container mgtop-80px">
  
 <div class="carousel-general-container">
    <div class="title-container">
      <h2 class="title">Trending Bars</h2>
    </div>
    <div class="carousel-container mgtop-25px">
  
      <% bars.forEach((bar) => { %>
      <a href="/bars/show/<%= bar.bar._id %>">
      <div class="carousel-row">
        <div class="carousel-image" style=`background-image:url(<% bar.bar.pictureUrl %>)`>
  
        </div>
        <div class="carousel-text-container mgtop-10px">
          <div class="carousel-text ">
            <div class="carousel-barname"><%= bar.bar.name %></div>
            <div class="carousel-rating">
            
            <span class=stars> 
              <% bar.barrating.forEach((rating) => { %>
                <% if(rating === "*"){ %>
                  <i class="fa fa-star" aria-hidden="true" style="color: gold; font-size: 2.5rem;"></i>
                <% } else if (rating === "/") { %>
                  <i class="fa fa-star-half-o" aria-hidden="true" style="color: gold; font-size: 2.5rem;"></i>
                <% } else { %>
                  <i class="fa fa-star-o" aria-hidden="true" style="color: gold; font-size: 2.5rem;"></i>                
                <% } %>
              <% }) %>
            </span>
            </div>
          </div>
          <div class="carousel-heart"></div>
        </div>
      </div>
    </a>
  
      <% }) %>
  
  
  
    </div>
    <div class="title-container mgtop-40px">
      <h2 class="title">Safest Bars</h2>
    </div>
    <div class="carousel-container mgtop-25px">
      <div class="carousel-row">
        <div class="carousel-image">
  
        </div>
        <div class="carousel-text-container mgtop-10px">
          <div class="carousel-text ">
            <div class="carousel-barname">Le tavernier</div>
            <div class="carousel-rating"></div>
          </div>
          <div class="carousel-heart"></div>
        </div>
      </div>
      <div class="carousel-row">
        <div class="carousel-image">
  
        </div>
        <div class="carousel-text-container">
          <div class="carousel-text mgtop-10px">
            <div class="carousel-barname">Le tavernier</div>
            <div class="carousel-rating"></div>
          </div>
          <div class="carousel-heart"></div>
        </div>
      </div>
      <div class="carousel-row">
        <div class="carousel-image">
  
        </div>
        <div class="carousel-text-container mgtop-10px">
          <div class="carousel-text">
            <div class="carousel-barname">Le tavernier</div>
            <div class="carousel-rating"></div>
          </div>
          <div class="carousel-heart"></div>
        </div>
      </div>
  
    </div>
 </div>
  
</div>



<div class="location-general-container mgtop-80px" >
  <div class="location-container">
    <div class="location-logo"></div>
    <div class="location-text">My Location</div>
  </div>
  <div class="popular-locations mgtop-40px">
    <h2 class="title">Popular Locations</h2>
  </div>
  <div class="location-container">
    <div class="location-logo"></div>
    <div class="location-text">SomeWhereNearMe</div>
  </div>
  <div class="location-container">
    <div class="location-logo"></div>
    <div class="location-text">SomeWhereNearMe</div>
  </div>
  <div class="location-container">
    <div class="location-logo"></div>
    <div class="location-text">SomeWhereNearMe</div>
  </div>
  <div class="location-container">
    <div class="location-logo"></div>
    <div class="location-text">SomeWhereNearMe</div>
  </div>
  <div class="location-container">
    <div class="location-logo"></div>
    <div class="location-text">SomeWhereNearMe</div>
  </div>
  <div class="location-container">
    <div class="location-logo"></div>
    <div class="location-text">SomeWhereNearMe</div>
  </div>

</div>

<!-- <script src="static/scripts/searchProfile.js"></script> -->


























