
<html lang="en">
<head>
 
<title>Set the bar</title>
<link rel="stylesheet" href="/static/stylesheets/whitepages.css" type="text/css">
<link rel="stylesheet" href="/static/stylesheets/main.css" type="text/css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="192x192" href="/static/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
<link rel="manifest" href="/static/site.webmanifest">
<link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#4d194d">
<meta name="apple-mobile-web-app-title" content="Set The Bar">
<meta name="application-name" content="Set The Bar">
<meta name="msapplication-TileColor" content="#603cba">
<meta name="theme-color" content="#4d194d">

</head>
<body>
  <div class="inner-body">
    <div class="header">
      <a href="/dashboard"> <div class="set-the-logo-white"></div> </a>
      <a href="/dashboard"> <div class="set-the-logo-purple"></div> </a>
      </div>
<%- body %>
</div>

<% if(typeof user != 'undefined'){ %>
<div class="navigation-tab">
  <div class="nav-button navigation-home"><a class='nav-links' href="/dashboard"></a></div>
  <div class="nav-button navigation-explore"><a class='nav-links' href="/findmeabar"></a></div>
  <div class="nav-button navigation-profile"><a class='nav-links' href="/profiles/show/<%= user._id %>"></a></div>
</div>
<% } %>

<script src="/static/scripts/main.js"></script>
</body>
</html>
