<html>
<head>
<title>Set the bar</title>
<link rel="stylesheet" href="/static/stylesheets/whitepages.css" type="text/css">
<link rel="stylesheet" href="/static/stylesheets/main.css" type="text/css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

</head>
<body>
  <div class="inner-body">
    <div class="header">
      <a href="/dashboard"> <div class="set-the-logo-white"></div> </a>
      <a href="/dashboard"> <div class="set-the-logo-purple"></div> </a>
      </div>
<%- body %>
</div>

<% if(typeof user != 'undefined'){ %>
<div class="navigation-tab">
  <div class="nav-button navigation-explore"><a class='nav-links' href="/dashboard"></a></div>
  <div class="nav-button navigation-review"><a class='nav-links' href="/dashboard"></a></div>
  <div class="nav-button navigation-favorites"><a class='nav-links' href="/favorites"></a></div>
  <div class="nav-button navigation-profile"><a class='nav-links' href="/profiles/show/<%= user._id %>"></a></div>
</div>
<% } %>

<script src="/static/scripts/main.js"></script>
</body>
</html>
