<div class="Log-in-container">
  <div class="set-the-bar-text">
    <div class="set-the-bar-moto">Find your perfect bar</div>
    <div class="set-the-bar-intro">Looking to explore new trendy places? Discover the bar that meets all your needs!</div>
  </div>
  <div class="input-info-container">

    <%- include ('./partials/messages') %>
    <form action="/users/login" method="POST">

      <div>
        <label for="email"></label>
        <input
        class="input-info"
        type="email"
        name="email"
        placeholder="Jon_Doe@Set-The-Bar.be"
        />
      </div>

      <div>
        <label for="password"></label>
        <input
        class="input-info"
        type="password"
        name="password"
        placeholder="********"
        />
      </div>
      <button type="submit" class="btn btn-primary btn-block input-info">Login</button>
      <div class="connect-with-tier-container">
        <div class="tier-logo"></div>
        <div class="tier-text">Log-in with Facebook</div>
      </div>
    </form>
  </div>
  <div class="no-account">
    Don’t have an account yet? <span><a href="/users/register" class="btn btn-primary btn-block mb-2"
      >Sign Up</a></span>
  </div>
    
</div>
  