<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body {
      background-color:#4d194d ;
    }
    .inner-body {
      padding: 0;
      margin: 0;
    }
    .header {
      display: none; 
    }
    .nav-button {
      width: 2rem;
      height: 2rem;
    }
  </style>
</head>
<body>
  <div class="background-cover-container">
    <div class="background-text">Profile</div>
    <div class="background-settings" ></div>
  </div>
  <div class="profile-picture-container">
    <div class="profile-picture-empty"></div>
    <div class="profile-picture" style="background-image:url(<%= profile.profilePic %>)">
      <div class="profile-pic-plus"></div>
    </div>
    <div class="profile-picture-empty"></div>
  </div>
<div class="modify-profile-form-container">
    <form id="modify-profile-form" action="/profiles/upload" method="POST" enctype="multipart/form-data">
      <input type='file' name='image' id="choose-file-btn" />
      <input type="text" name="username" placeholder="UserName : " id="username-profile">
  		<input type="submit" id="send-image-button">
  	</form>
</div>

	</div>
  <div class="profile-info-container">
  <h2 class="profile-name"> <%= profile.username %>
  <div id="my-images"></div>
  
  </h2>
  <button id="modify-profile-btn">Modify Profile</button>
  <div class="review-container-profile">
    <div class="review-box-container">
      <div class="review-box">
        <div class="review-box-review-number">4</div>
        <div class="review-box-name">Reviews</div>
      </div>
      <!-- <div class="review-box-arrow"></div> -->
    </div>
  </div>
  <!-- <h2>Recent bars you visited</h2>

  <div class="recent-visited-container">
    <div class="recent-visited-bar"></div>
  </div> -->
  <!-- <h2>Favorites bars</h2>
  <div class="recent-visited-container">
    <div class="recent-visited-bar"></div>
  </div> -->
  
  <!-- <div class="settings-container">
    <button class="change-color-btn"></button>
    
  </div> -->



</body>
</html>