<div class="review-container">
  <div class="review-left-text">
      <h1 class="review-letsreview">Let's review </h1>
      <h2 class="bartitle"> Le Tavernier</h2>
      <div class="review-rating"></div>
  </div>

  <div class="meters-container">
  <form>
      <div class="crowd"> 
          <p>Crowd</p>
          <input type="range" min="1" max="9" value="5" class="slider">
  
         <div class="labels-crowd"> 
              <span>Pretty quiet</span> <span>Room for more</span> <span>Full house</span>
          </div>
      </div> 
  
      <div class="hygiene"> 
        <p>Hygiene</p>
        <input type="range" min="1" max="9"  class="slider">
        <div class="labels-hygiene">
            <span>As clean as it gets</span> <span>Decent</span> <span>Everything's sticky </span>
          </div>
       </div> 
  
      <div class="atmosphere"> 
        <p>Atmosphere</p>
        <input type="range" min="1" max="9" value="5" class="slider">
        <div class="labels-atmo">
          <span>Dancing</span> <span>Chatting</span></div>
      </div> 
  
      <div class="safety"> 
        <p>Safety</p>
        <input type="range" min="1" max="9" value="5" class="slider">
       <div class="labels-safety"> 
         <span>I feel safe</span> <span>Creep alert</span></div>
      </div> 
  
      <div class="review-comments">
        <p>Comments</p>
        <input type="text" placeholder="Leave a comment">
      </div>

      <button class="submitbtn-review" >Submit review</button>
  </form>

</div>


  
  <div class="navigation-tab-review">
      <div class="navigation-explore"></div>
      <div class="navigation-review"></div>
      <div class="navigation-favorites"></div>
      <div class="navigation-profile"></div>
  </div>

 
</div> 
