<div class="review-container mgtop-80px">
  <div class="review-left-text">
   <a onclick="window.history.go(-1);"> <button class="backbtn"><</button></a>
      <h1 class="review-letsreview">Let's review </h1>
      <h2 class="bartitle"> <%= bar.name %></h2>
      
  </div>

  <div class="meters-container">
  <form action="/reviews/new/<%= bar._id %>" method="POST">
      <div class="stars">
       
        <div class="rate">
          <input type="radio" id="star5" name="reviewstars" value="5" />
          <label for="star5" title="text">5 stars</label>
          <input type="radio" id="star4" name="reviewstars" value="4" />
          <label for="star4" title="text">4 stars</label>
          <input type="radio" id="star3" name="reviewstars" value="3" />
          <label for="star3" title="text">3 stars</label>
          <input type="radio" id="star2" name="reviewstars" value="2" />
          <label for="star2" title="text">2 stars</label>
          <input type="radio" id="star1" name="reviewstars" value="1" />
          <label for="star1" title="text">1 star</label>
        </div>



      </div>
      <div class="crowd"> 
          <p>Crowd</p>
          <input type="range" min="1" max="9" value="5" class="slider" name="reviewcrowd">
  
         <div class="labels-crowd"> 
              <span>Pretty quiet</span> <span>Room for more</span> <span>Full house</span>
          </div>
      </div> 
  
      <div class="hygiene"> 
        <p>Hygiene</p>
        <input type="range" min="1" max="9"  class="slider" name="reviewhygiene">
        <div class="labels-hygiene">
            <span class="labels-hygiene-span">Everything's sticky</span> <span class="labels-hygiene-span">Decent</span><span class="labels-hygiene-span">As clean as it gets </span>
          </div>
       </div> 
  
      <div class="atmosphere"> 
        <p>Atmosphere</p>
        <input type="range" min="1" max="9" value="5" class="slider" name="reviewatmosphere">
        <div class="labels-atmo">
          <span>Dancing</span> <span>Chatting</span></div>
      </div> 
  
      <div class="safety"> 
        <p>Safety</p>
        <input type="range" min="1" max="9" value="5" class="slider" name="reviewsafety">
       <div class="labels-safety"> 
         <span>Creep alert</span> <span>I feel safe</span></div>
      </div> 
  
      <div class="review-comments">
        <p>Comments</p>
        <input type="text" placeholder="Leave a comment" name="reviewcomment">
      </div>

      <button type="submit" class="submitbtn-review" >Submit review</button>
  </form>

  <div class="thanks">Thank your for your contribution to this app!</div>

</div>


  
  <!-- <div class="navigation-tab-review">
      <div class="navigation-explore"></div>
      <div class="navigation-review"></div>
      <div class="navigation-favorites"></div>
      <div class="navigation-profile"></div>
  </div> -->

 
</div> 
