@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Satisfy&display=swap");

/* colors: */
:root {
  --purple-bg: #4d194d;
  --whitesmoke-bg: whitesmoke;
  --nav-bg: #ffffff;
  --font-black: black;
}

/* 
=========content:
line 30 REVIEW PAGE
line 85 DETAILED BAR PAGE 
===============*/

/* REVIEW PAGE */   


/* not for the review page, but dont touch because itslinked to somewhere else #sorry */
body {
  box-sizing: border-box;

  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
  background-color: var(--whitesmoke-bg);
  color: var(--font-black);
  overflow: auto scroll;
  min-height: 100vh;
}


.review-container {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  height:130%;
  margin-bottom: 80px;
  /* align-items: space-between; */
}

/* text on the left */
.review-left-text {
  /* border: solid 3px green; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* height: fit-content; */
}




.review-letsreview {
  /* border:solid black 2px; */
  text-transform: uppercase;
  font-size: 3rem;
}

.bartitle {
  margin-top: 20px;
  font-size: 4rem;
}

.show-bar-rating {
  background-image: url(https://cdn.discordapp.com/attachments/953201000100024370/958709656300159046/unknown.png);
  height: 50px;
  width: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 30px;
}
/* SHOW METERS READONLY (DETAILED BAR PAGE) /// REVIEW METERS FOR THE REVIEW PAGE ARE BELOW */

/* also uses review container etc */

.img-bar {
  background-image: url(https://picsum.photos/200/300);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 600px;
}

.show-meters-container {
  /* border: solid 2px red; */
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-around;

  text-align: center;

  margin-top: 30px;
  /* width: 100vw; */
}

.backbtn {
  background-color: #4d194d;
  color: white;
  padding: 10px 30px;
  border-radius: 30px;
  margin-bottom: 40px;
  
}

.explain-meters {
  font-size: 2.7rem;
  margin-bottom: 30px;
}

.btn-add-review {
  background-color: #4d194d;
  color: white;
  padding: 10px 30px;
  border-radius: 30px;
  margin-top: 50px;
}

.show-crowd {
  /* margin-top: 20px;  
    box-shadow: 5px 5px 50px  grey;
    border-radius: 30px; */
  padding: 15px;
}

.show-crowd p {
  font-size: 3.5rem;
  font-weight: bold;
}

.show-labels-crowd {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.show-hygiene {
  /* margin-top: 20px;
    box-shadow: 5px 5px 50px  grey;
    border-radius: 30px; */
  padding: 15px;
}

.show-hygiene p {
  font-size: 3.5rem;
  font-weight: bold;
}

.show-labels-hygiene {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 2.5rem;
  /* overflow:visible; */
  
}

span {
  width: 30px;
  overflow:visible;
}

.show-atmosphere {
  padding: 15px;
  /* box-shadow: 5px 5px 20px black;
        border-radius: 30px; */
}

.show-atmosphere p {
  font-size: 3.5rem;
  font-weight: bold;
}
.show-labels-atmo {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 2.5rem;
}

.show-safety {
  /* box-shadow: 5px 5px 20px black;
        border-radius: 30px; */
  padding: 15px;
}

.show-safety p {
  font-size: 3.5rem;
  font-weight: bold;
}

.show-labels-safety {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 2.5rem;
}

/* slider bars: */

.show-slider input[type="range"] {
  -webkit-appearance: none !important;
  width: 800px;
  height: 35px;
  margin-top: 30px;

  /* color bar: */
  background: -webkit-linear-gradient(
    90deg,
    rgb(183, 87, 183),
    rgb(77, 25, 77)
  );
  background: linear-gradient(90deg, rgb(183, 87, 183), rgb(77, 25, 77));

  border: 1px solid var(--purple-bg);
  border-radius: 30px;
  box-shadow: 5px 5px 20px var(--purple-bg);
  transition: all 0.3s ease;
}

/* hover for desktop */
.show-slider input[type="range"]:hover {
  box-shadow: 5px 5px 20px var(--purple-bg);
}

/* when slided mobile*/
.show-slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 55px;
  height: 55px;
  background-image: url(https://cdn.discordapp.com/attachments/953201000100024370/953976252727967744/logo_4.5.png);
  background-color: var(--purple-bg);
  background-size: contain;
  border-radius: 30px;
  /* box-shadow: 0px 0px 3px #3c6d59; */
  cursor: pointer;
  transition: all 0.5s ease;
}
/* input[type="range"]::-webkit-slider-thumb:hover {
    background-color: #457d66;
  }
  input[type="range"]::-webkit-slider-thumb:active {
    box-shadow: 0px 0px 1px #3c6d59;
  } */

.show-about {
  font-size: 3.5rem;
  margin-top: 50px;
  text-align: left;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom:70px;
}

/* REVIEW METERS  on review pages*/
.meters-container {
  /* border: solid 2px red; */
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-around;

  text-align: center;

  margin-top: 30px;
  /* width: 100vw; */
}

/* enter the stars in the review: */

.stars {
  display: flex;
  justify-content: center;
}

.rate {
  height: 80px;
  margin-top: 20px;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 50px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.crowd {
  /* margin-top: 20px;  
    box-shadow: 5px 5px 50px  grey;
    border-radius: 30px; */
  padding: 15px;
}

.crowd p {
  font-size: 4.5rem;
  font-weight: bold;
}

.labels-crowd {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 3.5rem;
}

.hygiene {
  /* margin-top: 20px;
    box-shadow: 5px 5px 50px  grey;
    border-radius: 30px; */
  padding: 15px;
}

.hygiene p {
  font-size: 4.5rem;
  font-weight: bold;
}

.labels-hygiene {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 3.5rem;
}

.atmosphere {
  padding: 15px;
  /* box-shadow: 5px 5px 20px black;
        border-radius: 30px; */
}

.atmosphere p {
  font-size: 4.5rem;
  font-weight: bold;
}
.labels-atmo {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 3.5rem;
}

.safety {
  /* box-shadow: 5px 5px 20px black;
        border-radius: 30px; */
  padding: 15px;
}

.safety p {
  font-size: 4.5rem;
  font-weight: bold;
}

.labels-safety {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 3.5rem;
}

.review-comments {
  padding: 15px;
}

.review-comments p {
  font-size: 4.5rem;
  font-weight: bold;
}
.review-comments input {
  width: 800px;
  height: 100px;
  border-radius: 30px;
  border: solid 1px var(--purple-bg);
  font-size: 3rem;
  margin-top: 30px;
}

.submitbtn-review {
  background-color: var(--purple-bg);
  color: white;
  padding: 10px 30px;
  border-radius: 30px;
  font-size: 3.5rem;
  margin-top: 50px;
  /* box-shadow: 5px 5px 20px var(--purple-bg) */
}

.submitbtn-review :hover {
  /* box-shadow: 5px 5px 20px var(--purple-bg) */
}

/* slider bars: */

input[type="range"] {
  -webkit-appearance: none !important;
  width: 800px;
  height: 35px;
  margin-top: 30px;

  /* color bar: */
  background: -webkit-linear-gradient(
    90deg,
    rgb(183, 87, 183),
    rgb(77, 25, 77)
  );
  background: linear-gradient(90deg, rgb(183, 87, 183), rgb(77, 25, 77));

  border: 1px solid var(--purple-bg);
  border-radius: 30px;
  box-shadow: 5px 5px 20px var(--purple-bg);
  transition: all 0.3s ease;
}

/* hover for desktop */
input[type="range"]:hover {
  box-shadow: 5px 5px 20px var(--purple-bg);
}

/* when slided mobile*/
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 55px;
  height: 55px;
  background-image: url(https://cdn.discordapp.com/attachments/953201000100024370/953976252727967744/logo_4.5.png);
  background-color: var(--purple-bg);
  background-size: contain;
  border-radius: 30px;
  /* box-shadow: 0px 0px 3px #3c6d59; */
  cursor: pointer;
  transition: all 0.5s ease;
}
/* input[type="range"]::-webkit-slider-thumb:hover {
    background-color: #457d66;
  }
  input[type="range"]::-webkit-slider-thumb:active {
    box-shadow: 0px 0px 1px #3c6d59;
  } */

/*-- Nav-bar -- CSS --*/
